<html>
<head><title>Game 22</title>

    <link href="/css/my.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>
<body class="grid" data-game-id="{{gameId}}">
<div class="fill grid">
    <div class="msgbox">
        <h1>Game 22</h1>
        <p>Click your way to greatness</p>
    </div>
    <div class="table-container">
        <table class="table-large">
        {{#grid}}
        <tr class="nopad">
        {{#.}}
        <td class="nopad cell {{category}}" onclick="handleClick({{row}}, {{column}})"></td>
        {{/.}}
        </tr>
        {{/grid}}
        </table>
    </div>
    <div class="msgbox">
        <p class="footer">Moves: {{moves}}</p>
        <p class="footer">Status: {{status}}</p>
    </div>
</div>
<script src="/js/client.js"></script>
</body>
</html>