



body {
  font-family: 'Roboto';
  background: #283593;
  margin-top:0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;

}

h1 {
  margin: 0px;
  font-size: 4em;
  font-weight: 300;
}

p {
  margin: 0px;
  margin-left:16px;
  font-weight: 400;
  opacity: 0.8;
}


p.footer {
  margin: 0px;
  margin-top: 4px;
  margin-left:16px;
  font-weight: 300;
}

.nopad {
  padding:0px;
  margin:0px;
  border:0px;
}

.fill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #283593;
}

.msgbox {
  color: #fff;
  margin-left: 0px;
  padding-left: 72px;
  padding-bottom: 8px;
  margin-right: 0px;
  border:0px;
  background: #5f5fc4;
  flex-grow: 0;
}

.table-container {
  flex-grow: 1;
}

.table-large {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background:#ffffff;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

td:hover {
  background-color: #cbc26d;
}

table.table-large td {
   cursor: pointer;
}

.material-icons.md-18 {
  font-size: 18px;
  display: block;
 }

.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
